body {
    background-color: rgb(232, 243, 247);
    font-family: 'Ubuntu', sans-serif;
}

.blogbody1 {
    background-color: aqua;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.content1 {

    list-style-type: none;
    text-align: left;
    padding: 20px;
    font-size: 15pt;
}

.img1 {
    float: left;
    padding: 10px;
}

.blogbody2 {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 5px;
    justify-content: flex-end;
}

.content2 {
    margin: 20px;
    text-align: right;
    font-size: 15pt;
}

.img2 {
    float: right;
    padding: 10px;
}

.pressme {
    display: inline-block;
    background-color: blue;
    color: darkgrey;
    text-decoration: none;
    color: aliceblue;
}

.pressme:hover {
    color: red;
    text-decoration: underline;
    cursor: pointer
}

.pressme:active {
    color: darkblue;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}