body {
    background-color: rgb(232, 243, 247);
    font-family: 'Ubuntu', sans-serif;
}

.blogbody {
    margin: 10px;
    padding: 10px;
}

.nav {
    background-color: aqua;
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 0%;
}

.nav li {
    display: inline-block;
    /*display: inline;*/
    /*display: block;*/
    font-size: 20px;
    padding: 20px;
}

li.gallery {
    width: 100%;
    height: auto;
}

/*div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery img {
    width: 100%;
    height: auto;
}*/