/** index.html **/
.bd1 {
    background-color: rgb(232, 243, 247);
    font-family: 'Ubuntu', sans-serif;
}

.blogbody1 {
    background-color: aqua;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.content1 {
    list-style-type: none;
    text-align: left;
    padding: 20px;
    font-size: 15pt;
}

.img1 {
    float: left;
    padding: 10px;
}

.blogbody2 {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 5px;
    justify-content: space-around;
}

.content2 {
    margin: 20px;
    text-align: right;
    font-size: 18pt;
}

.img2 {
    padding: 10px;
}

.img2:hover {
    cursor: pointer
}


/** comparison.html **/
.bd2 {
    background-color: lightcyan;
    font-family: 'Caveat', cursive;
}

.compbody {
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.h11 {
    font-size: 70pt;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    margin-top: 70px;
    padding: 20px;
}

.txt2 {
    font-size: 45pt;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
    padding: 20px;
    margin-top: 70px;
    margin-left: 20px;
}

.deta1 {
    margin-left: 50px;
    padding: 20px;
}

.h312 {
    font-size: 32px;
}

.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.txt3 {
    text-align: center;
    color: blue;
    font-size: 30pt;
}

.li22 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    list-style: none;
    font-size: 32px;
}

.imgdis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.txtonly {
    margin-top: 50px;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}


/*.pressme {
    display: inline-block;
    margin-block-start: 130px;
    background-color: blue;
    color: darkgrey;
    text-decoration: none;
    color: aliceblue;
    border-radius: 15px;
}*/

/*.txtprme:active {
    color: darkblue;
}*/